ion-col {
    vertical-align: middle;
}

ion-badge.class1 {
    --background: red;
}

ion-badge.class2 {
    --background: orange;
}

ion-badge.class3 {
    --background: yellow;
    --color: black;
}

ion-badge.class4 {
    --background: yellowgreen;
    --color: black;
}

ion-badge.class5 {
    --background: green;
}