<ion-header>
  <ion-toolbar>
    <ion-title>{{grupo?.nombre}}</ion-title>
    <ion-badge slot="end" class="ion-padding" [ngClass]="'class'+grupo?.relevancia">
      <h2>{{grupo?.relevancia}}</h2>
    </ion-badge>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="search"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item *ngIf="!!grupo?.infoSpotify">
      <ion-img (click)="navegarSpotify()" [src]="grupo?.infoSpotify?.image"></ion-img>
    </ion-item>
    <ion-item *ngIf="!!grupo?.infoSpotify">
      <ion-label text-wrap>{{grupo?.infoSpotify?.generos}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Procedencia:</strong></ion-label>
      <ion-label>{{grupo?.procedencia}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Escenario:</strong></ion-label>
      <ion-label>{{grupo?.escenario}}</ion-label>
    </ion-item>
    <ion-item [routerLink]="'/tabs/' + tab ">
      <ion-label><strong>Día:</strong></ion-label>
      <ion-label>{{grupo?.dia| date:'EEEE, d / M':'+0200':'es'}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Horario:</strong></ion-label>
      <ion-label>{{grupo?.inicio | date:'HH:mm'}} - {{grupo?.fin |
        date:'HH:mm'}}</ion-label>
    </ion-item>
    <ion-item>
      <p>{{grupo?.descripcion}}</p>
    </ion-item>
    <ion-item *ngIf="!!grupo?.prediccion">
      <ion-grid (click)="navegarAemet()">
        <ion-row>
          <ion-col><img [src]="'/assets/aemet/'+grupo?.prediccion?.estadoCielo+ '.png'"></ion-col>
          <ion-col>{{grupo?.prediccion?.estadoCieloDesc}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="thermometer-outline"></ion-icon>{{grupo?.prediccion?.temperatura}}
          </ion-col>
          <ion-col>
            <ion-icon name="water-outline"></ion-icon> {{grupo?.prediccion?.probPrecipitacion}} %
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button (click)="refresh()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-item-group>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" [routerLink]="'/editar/'+grupo?.uuid">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" id="eliminar" (click)="presentAlert()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>