<div>
  <table>
    <tr *ngFor="let prediccion of predicciones | keyvalue ; let h = index;" class="ion-align-items-center">
      <td [ngClass]="isNow(prediccion.key)?'ahora horas':'horas'">
        <ion-grid>
          <ion-row>
            {{prediccion.key | date:'HH:mm'}}
          </ion-row>
          <ion-row *ngIf="!!prediccion.value">
            <img class="icono" [src]="prediccion.value">
          </ion-row>
        </ion-grid>



      </td>
      <td *ngFor=" let grupo of getColumnas(prediccion.key)" [attr.rowspan]="getRowspan(grupo)"
        [ngStyle]="{'background-image': 'url(' + grupo.infoSpotify?.image + ')'}"
        [ngClass]="!!grupo.escenario?grupo.escenario.toLowerCase(): ''">

        <ion-item [routerLink]="'/grupo/'+grupo.uuid">

          <ion-label>
            <h3> {{grupo.nombre}}</h3>
            <p *ngIf=" !!grupo.nombre">{{grupo.inicio | date:'HH:mm'}} - {{grupo.fin | date:'HH:mm'}}</p>
          </ion-label>
          <ion-badge slot="end" [ngClass]="'class'+grupo?.relevancia ">
            {{grupo?.relevancia}}
          </ion-badge>
        </ion-item>



      </td>
    </tr>

  </table>
</div>