<div>
  <table>
    <tr *ngFor="let prediccion of predicciones | keyvalue ; let h = index;" class="ion-align-items-center">
      <td [ngClass]="isNow(prediccion.key)?'ahora horas':'horas'">
        <ion-grid>
          <ion-row>
            {{prediccion.key | date:'HH:mm'}}
          </ion-row>
          <ion-row *ngIf="!!prediccion.value">
            <img class="icono" [src]="prediccion.value">
          </ion-row>
        </ion-grid>



      </td>
      <td *ngFor=" let grupo of getColumnas(prediccion.key)"
        [ngClass]="!!grupo.escenario?grupo.escenario.toLowerCase(): ''" [attr.rowspan]="getRowspan(grupo)">

        <ion-item [routerLink]="'/grupo/'+grupo.uuid">
          <ion-label> <strong> {{grupo.nombre}}</strong></ion-label>
          <ion-badge slot="end" [ngClass]="'class'+grupo?.relevancia ">
            {{grupo?.relevancia}}
          </ion-badge>
        </ion-item>
        <ion-item>
          <ion-label *ngIf=" !!grupo.nombre">{{grupo.inicio | date:'HH:mm'}} - {{grupo.fin | date:'HH:mm'}}</ion-label>
        </ion-item>


      </td>
    </tr>

  </table>
</div>