<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Búsqueda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/editar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list-header>
    <ion-searchbar placehoder="Búsqueda" (keyup)="buscar($event)"></ion-searchbar>

  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let grupo of resultados">
      <ion-label [routerLink]="'/grupo/' + grupo.uuid ">{{grupo.nombre}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>