<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placehoder="Búsqueda" [(ngModel)]="busqueda" (keyup)="buscar($event)" (change)="buscar($event)"
      (ionClear)="clear()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list>
    <ion-item *ngFor="let grupo of resultados" [ngClass]="!!grupo.escenario?grupo.escenario.toLowerCase(): ''">
      <ion-thumbnail slot="start">
        <img *ngIf="!!grupo.infoSpotify && !!grupo.infoSpotify.image" [src]="grupo?.infoSpotify.image">
      </ion-thumbnail>
      <ion-label (click)="editar( grupo.uuid) ">
        <h3>{{grupo.nombre}}</h3>
        <p>{{grupo.procedencia}}</p>
      </ion-label>
      <ion-badge slot="end" [ngClass]="'class'+grupo?.relevancia ">
        {{grupo?.relevancia}}
      </ion-badge>
    </ion-item>
  </ion-list>

</ion-content>