<ion-header>
  <ion-toolbar>
    <ion-title>Búsqueda Spotify</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-searchbar placehoder="Nombre..." [(ngModel)]="name" search-icon="none"></ion-searchbar>
    <ion-searchbar placehoder="Id..." [(ngModel)]="id" search-icon="none"></ion-searchbar>
    <ion-button (click)="search()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let artist of resultadosFiltrados" (click)="save(artist)">
      <ion-thumbnail slot="start">
        <img *ngIf="!!artist.image" [src]="artist.image">
      </ion-thumbnail>
      <ion-label>
        <h3>{{artist.nombre}}</h3>
        <p>{{artist.generos}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="search($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>